<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="nav-header">
        <a class="navbar-brand" href="#">
          <!-- {{title}} -->
          <a href=""><img src="https://fontmeme.com/permalink/211004/a3f0625829c5ab65251903994f2b8b07.png"
              alt="brush-fonts" border="0"></a>
          <!--String de Interpolação - Esse title esta dentro de app.conponent.ts-->
        </a>
      </div>
    </div>
  </nav>
  <app-conversor></app-conversor>
</div>
